<h1>Editing room</h1>

<% form_for(@room) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <% Language.find(:all).each do |language| %>
    <div>
      <%= check_box_tag "room[language_ids][]", language.id, @room.languages.include?(language) %>
      <%= language.name %>
    </div>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>
<%= link_to 'Show', @room %> |
<%= link_to 'Back', rooms_path %>



