<h1>Listing rooms</h1>


<%= link_to( '<span class="mybutton">New room</span>', new_room_path) if cookies[:user] %>
<table id="rounded-corner">
  <thead>
    <th id="rounded-company" scope="col" >Name</th>
    <th id="rounded-q4">Description</th>
    <th id="rounded-company">Action</th>
  </thead>

<% @rooms.each do |room| %>
  <tr>
    <td class="first"><%=h room.name %></td>
    <% if room.description.length < 300 %>
             <td> <%=h room.description %></td>
    <% else %>
	     <td><%=h room.description[0..300] %>...</td>
    <% end %>
    <td class="last"><%= link_to '<span class="mybutton">Enter</span>', room %></td>
  </tr>
<% end %>
</table>

<br />
<script type="text/javascript" language="Javascript">
function reload_page() { document.location.reload(true); }
window.onload = function() { setTimeout("reload_page()", 10000); }
</script>
