<h1>Listing rooms</h1>

<h2>Welcome, <%= cookies[:user] %>! </h2>

<%= link_to( '<span class="ui-button-text">New room</span>', new_room_path, :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only") if cookies[:user] %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%=h room.name %></td>
    <% if room.description.length < 30 %>
             <td> <%=h room.description %></td>
    <% else %>
	     <td><%=h room.description[0..30] %>...</td>
    <% end %>
    <td><%= link_to 'Enter to room', room %></td>
  </tr>
<% end %>
</table>

<br />
<script type="text/javascript" language="Javascript">
function reload_page() { document.location.reload(true); }
window.onload = function() { setTimeout("reload_page()", 10000); }
</script>
