<h1>New room</h1>

<% form_for(@room) do |f| %>
  <%= f.error_messages %>

  <p>
    Nome da sala:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Descrição:<br />
    <%= f.text_field :description %>
  </p>
  <p>  
    Linguagens:<br />
    <% Language.find(:all).each do |language| %>
    <div>
    <%= check_box_tag "room[language_ids][]", language.id, @room.languages.include?(language) %>
    <%= language.name %>
    </div>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', login_index_path %>
