<h1>New room</h1>

<% form_for(@room) do |f| %>
  <%= f.error_messages :class => 'ui-state-highlight ui-corner-all' %>

  <p>
    <h2>Room name</h2>
    <%= f.text_field :name %>
  </p>
  <p>
    <h2>Description</h2>
    <%= f.text_area :description %>
  </p>
  <p>  
    <h2>Languages</h2>
    <% Language.find(:all).each do |language| %>
    <div>
    <%= check_box_tag "room[language_ids][]", language.id, @room.languages.include?(language) %>
    <%= language.name %>
    </div>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Create', :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
  </p>
<% end %>

<%= link_to 'Back', login_index_path %>
