<p>Welcome to the room <strong><%=h @room.name %></strong>, <strong><%=h cookies[:user] %></strong>!
<%= link_to 'Leave Dojo', rooms_path %> 

<pre><%=h @room.description %></pre>

<p>The owner name is <%=h @room.user.name %></p>

<table style="width: 100%; border: 0">
  <tr>
    <td>
      Source code<br>
      <textarea id="source_code"  style="width: 100%; height: 100px;" <%="readonly" if @room.user.name != cookies[:user]%>></textarea>
    </td>
    <td>
      Test code<br>
      <textarea id="test_code"    style="width: 100%; height: 100px;" <%="readonly" if @room.user.name != cookies[:user]%></textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2">
       <hr>Result<br>
       <textarea id="code_result" style="width: 100%; height: 100px;" readonly></textarea>
    </td>
  </tr>
</table>

<script type="text/javascript" language="Javascript">
source_code = document.getElementById("source_code");
test_code = document.getElementById("test_code");
code_result = document.getElementById("code_result");

function update_room() {
  $.getJSON('/rooms/<%=h @room.id %>.json', function(json) {
      source_code.value = json.room.source_code;
      test_code.value = json.room.test_code;
      code_result.value = json.room.code_result;
          });
  setTimeout("update_room()", 3000);
}

setTimeout("update_room()", 1000);
</script>
