<%= javascript_include_tag 'jquery.scrollTo' %>
<script type="text/javascript">
var room_id = <%= @room.id %>
var user_name = '<%= cookies[:user] %>'

function update_fields() {
  $.getJSON('/rooms/<%=h @room.id %>.json', function(json) {
      if(json.room.source_code != null)
        $("#source_code").val(json.room.source_code);
        
      if(json.room.test_code != null)
        $("#test_code").val(json.room.test_code);
      
      if(json.room.code_result != null)
        $("#code_result").val(json.room.code_result);
  });
}

<% if @is_pilot %>
    function send_fields() {
        $.post("/rooms/<%=h @room.id %>", {'_method': "PUT", 
                   'source_code': $('#source_code').val(), 
                   'test_code': $('#test_code').val(),
                   'code_result': $('#code_result').val()});
        setTimeout("send_fields()", 1000);
    }
    
    function call_webservice() {
      $.post("/run_code", {
        "input.language" : "ruby",
        "input.sourceCode" : $('#source_code').val(),
        "input.testCode" : $('#test_code').val()
      }, function(json) {
            $('#code_result').val( json.output.result );
          }, "json");
    }

    $(document).ready(function () {
        $('#run').click(call_webservice);
        update_fields();
        setTimeout("send_fields()", 2000);
    });
<% else %>
    function update_room() {
      update_fields();
      setTimeout("update_room()", 3000);
    }

    $(document).ready(function () {
        setTimeout("update_room()", 1000);
    });
<% end %>
</script>


<p>Welcome to the room <strong><%=h @room.name %></strong>, <strong><%=h cookies[:user] %></strong>!
<%= link_to 'Leave Dojo', rooms_path %> 
<pre><%=h @room.description %></pre>

<p>The owner name is <%=h @room.user.name %></p>

<table style="width: 100%; border: 0">
  <tr>
    <td>
      Source code<br>
      <textarea id="source_code"  style="width: 100%; height: 100px;" <%="readonly" unless @is_pilot%> ></textarea>
    </td>
    <td>
      Test code<br>
      <textarea id="test_code"    style="width: 100%; height: 100px;" <%="readonly" unless @is_pilot %> ></textarea>
    </td>
  </tr>
  <%if @is_pilot%>
  <tr>
    <td>
        <input id="run" type="button" value="Run" />
    </td>
  </tr>  
  <%end%>
  <tr>
    <td colspan="2">
       <hr>Result<br>
       <textarea id="code_result" style="width: 100%; height: 100px;" readonly></textarea>
    </td>
  </tr>
</table>
