<script type="text/javascript">
 var room_id = <%= @room.id %>
 var user_name = '<%= cookies[:user] %>'
</script>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery.scrollTo' %>
<%= javascript_include_tag 'chat' %>

<p>Welcome to the room <strong><%=h @room.name %>, <%=h cookies[:user] %></strong>! 	<%= link_to 'Leave Dojo', rooms_path %> 

<p>The owner name is <%=h @room.user.name %></p>

<pre><%=h @room.description %></pre>


<div id="chat">
  <div id="chat_messages" style="width: 100%; border: solid black 1px; overflow: auto; height: 300px"></div>
  <form id="send_chat" action="#">
    <input type="text" id="chat_message" style="width: 30%;" value="" maxlength=500 size=500/> <input type="submit" value="Send" />
  </form>
</div>

<%= link_to 'Back to main', login_index_path %>