
<p>Welcome to the room <strong><%=h @room.name %>, <%=h cookies[:user] %></strong>! 	<%= link_to 'Leave Dojo', rooms_path %> 

<p>The owner name is <%=h @room.user.name %></p>

<pre style="width:99%;overflow: auto;"><%=h @room.description %></pre>
