
<p>Welcome to the room <strong><%=h @room.name %>, <%=h cookies[:user] %></strong>! 	<%= link_to 'Leave Dojo', rooms_path %> 

<p>The owner name is <%=h @room.user.name %></p>

<pre><%=h @room.description %></pre>