<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Rooms: <%= controller.action_name %></title>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.scrollTo' %>
	<%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag 'base' %>
	<%= stylesheet_link_tag 'cupertino/cupertino' %>
</head>
<body>
	<div>
		<div id="dojoLogo">
			<img src="/images/dojologo.png"/>
		</div>
		<div style="float: right; vertical-align: center">
			<% if @room and @room.name %>
			<h2 >Welcome to the room <%= @room.name %>, <%= cookies[:user] %>!</h2>
			<% elsif cookies[:user] %>
			<h2 >Welcome, <%= cookies[:user] %>!</h2> 
			<%end%>

			<%= link_to( '<div class="mybutton" id="logout">Logout</div>', {:controller => "login", :action => "logout"}) if cookies[:user] %>

			<% if @room and @room.name %>
			<%= link_to( '<div class="mybutton" id="leave_dojo">Leave Dojo</div>', rooms_path) %>
			<%end%>
		</div>
	</div>
	<div id="dojoMain" class="ui-corner-all">
		<% if flash[:notice] %>
		<p style="color: green"><%= flash[:notice] %></p> 
		<% end %>

		<%= yield %>

	</div>
</body>
</html>
